*{
    margin: 0;
    padding: 0;
}

.blog1 img{
    width: 90%;
    height: 450px;
    margin-left: 5%;
    border-radius: 10px;
}
.blog1 h1{
    position: absolute;
    top: 70%;
    left: 45%;
    background: maroon;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
}
.blog2{
    min-height: 80vh;
}

@media only screen and (max-width: 870px){

    .blog1 img{
        width: 80%;
        height: 350px;
        margin-left: 10%;
        border-radius: 10px;
    }
    .blog1 h1{
        position: absolute;
        top: 55%;
        left: 40%;
        background: maroon;
        border-radius: 20px;
        padding: 5px 20px;
        color: white;
    }
}

@media only screen and (max-width: 620px){

    .blog1 img{
        width: 80%;
        height: 280px;
        margin-left: 10%;
        border-radius: 10px;
    }
    .blog1 h1{
        position: absolute;
        top: 45%;
        left: 30%;
        background: maroon;
        border-radius: 20px;
        padding: 5px 20px;
        color: white;
    }
}

@media only screen and (max-width: 500px){
 
    .blog1 img{
        width: 80%;
        height: 150px;
        margin-left: 10%;
        border-radius: 10px;
    }
    .blog1 h1{
        position: absolute;
        top: 27%;
        left: 22%;
        background: maroon;
        border-radius: 20px;
        padding: 5px 20px;
        color: white;
        font-size: 20px;
    }
}

@media only screen and (max-width: 450px){

    .blog1 img{
        width: 80%;
        height: 150px;
        margin-left: 10%;
        border-radius: 10px;
    }
    .blog1 h1{
        position: absolute;
        top: 22%;
        left: 24%;
        background: maroon;
        border-radius: 20px;
        padding: 5px 20px;
        color: white;
        font-size: 20px;
    }
}

.blog2{
    margin: 2% 6%;
}

.blog{
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    /* border: 1px solid; */
    box-shadow: 5px 5px lightsteelblue;
    background-color: lightyellow;
    display: block;
}
.blog-desc{
    text-transform: capitalize;
}
.blog-img{
    text-align: center;
}
.blog-img img{
    width: 500px;
}

@media only screen and (max-width: 1050px){
    .blog-img img{
        width: 400px;
    }
}
@media only screen and (max-width: 900px){
    .blog-img img{
        width: 300px;
    }
}

@media only screen and (max-width: 700px){
    .blog-img img{
        width: 200px;
    }
}

@media only screen and (max-width: 600px){
    .blog-img img{
        width: 150px;
    }
}

@media only screen and (max-width: 500px){
    .blog-img img{
        width: 100px;
    }
}

