*{
    margin: 0;
    padding: 0;
}
.item-title{
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
    text-shadow: 1px 1px darkgrey;
    text-decoration: underline;
}
.item-title h1{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item-img{
    text-align: center;
    margin-top: 20px;
}

.item-img img{
    width: 80%;
    border-radius: 20px;
}
.item-ex{
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
}
.item-ex a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.item-mob{
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
}
.item-mob a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.item-rating{
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
}
.item-cat{
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
}
.item-cat h1{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-loca{
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
}
.item-loca h1{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-lic{
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
}
.item-lic h1{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section1{
    min-height: 80vh;
    margin-top: 20px;
}

.item-location{
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
}

.item-location h4{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item-time{
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
}
.item-time h4{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-visit{
    text-transform: capitalize;
    margin-top: 2%;
    text-align: center;
}

.title-visit h2{
    font-size: 40px;
}